<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Tinder Clone</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">

        <% if account_signed_in? %>
            <%= link_to "Browse", browse_path, class: "me-3 py-2 text-dark text-decoration-none" %>
            <%= link_to "My Matches", "#", class: "me-3 py-2 text-dark text-decoration-none" %>
            <%= link_to "Settings", "#", class: "me-3 py-2 text-dark text-decoration-none" %>
            <%= link_to "Sign out", destroy_account_session_path, class: "btn btn-secondary mr-3" %>


        <% else %>
          <a class="me-3 py-2 text-dark text-decoration-none" href="#">Features</a>
          <a class="me-3 py-2 text-dark text-decoration-none" href="#">Enterprise</a>
          <%= link_to "Sign in", new_account_session_path, class: "btn btn-secondary mr-3" %>
          <%= link_to "Sign up", new_account_registration_path, class: "btn btn-outline-primary mr-1" %>
        <% end %>
      </nav>
    </div>
    